<h1><%= @industry_center.name %></h1>
<h2><%= @industry_center.city %></h2>
<h2><%= @industry_center.state %></h2>
<img src="<%= @industry_center.image %>", alt="Industry Center Image">
<h3><%= @industry_center.performance %></h3>
<h3><%= @industry_center.future_goals %></h3>


<h4><%= link_to "Modify Industry Center Information", edit_industry_center_path(@industry_center) %></h4>
<h4><%= link_to "Scrub Industry Center Information", industry_center_path(@industry_center), method: :delete %></h4>