<h1>Submit a Person of Interest</h1>
<% #binding.pry %>
<%= form_for ([@friend.hybrid, @friend]) do |f| %>
<%= f.hidden_field :hybrid_id, value: @friend.hybrid_id%>
<%= f.label :name, "Friend Name"%>

<%= f.text_field :name %><br>

<label>Friend Type</label><br>
<%= f.text_field :species %><br>

<label>Friend Personality</label><br>
<%= f.text_field :personality %><br>

<label>Friend Biography</label><br>
<%= f.text_area :biography %><br>

<label>Image of Friend</label><br>
<%= f.text_field :image %><br>

<%= f.submit %>

<% end %>

