<h1>Submit a Person of Interest</h1>

<h4><%= @error %></h4>

<%= form_for ([@friend.hybrid, @friend]) do |f| %>
<%= f.hidden_field :hybrid_id, value: @friend.hybrid_id%>

<%= f.label :name, "Friend Name" %><br>
<%= f.text_field :name %><br>

<%= f.label :species, "Species of Friend" %><br>
<%= f.text_field :species %><br>

<%= f.label :personality, "Friend Personality" %><br>
<%= f.text_field :personality %><br>

<%= f.label :biography, "Friend Biography" %><br>
<%= f.text_area :biography %><br>

<%= f.label :image, "Image of Friend" %><br>
<%= f.text_field :image %><br>

<%= f.submit %>

<% end %>

