<h1><%= @friend.name %></h1>
<img src="<%= @friend.image %>" alt="Friend Image">
<h2><%= @friend.species %></h2>
<p><%= @friend.personality %></p>
<p><%= @friend.biography %></p>

<% if current_user == @friend.hybrid.user %>
<%= link_to "Modify Friend Information", edit_hybrid_friend_path(@friend.hybrid, @friend)%>
<%= link_to "Scrub Friend Information", hybrid_friend_path(@friend.hybrid, @friend), method: "delete" %>
<% end %>