<h1>Repair the Motorhome</h1>

<%= form_for([@motorhome.hybrid, @motorhome]) do |f| %>
<%= f.hidden_field :hybrid_id, value: @motorhome.hybrid_id %>

<%= f.label :model, "Vehicle Model" %><br>
<%= f.text_field :model %><br>

<%= f.label :year, "Vehicle Year" %><br>
<%= f.text_field :year %><br>

<%= f.label :featues, "Features" %><br>
<%= f.text_area :features %><br>

<%= f.label :mileage, "Mileage" %><br>
<%= f.text_area :mileage %><br>

<%= f.label :history, "History" %><br>
<%= f.text_area :history %><br>

<%= f.label :image, "Vehicle Image" %><br>
<%= f.text_field :image %><br>

<%= f.submit %>

<% end %>
