<h1><%= @hybrid.name %></h1>
<h2><%= @hybrid.species %></h2>
<img src="<%= @hybrid.image %>" alt="Hybrid Image">
<h2><%= @hybrid.personality %></h2>
<h3><%= @hybrid.biography %></h3>
<h4><%= link_to "Hybrid's Friends", hybrid_friends_path(@hybrid) %></h4>
<h4><%= link_to "Places Hybrid Has Been", hybrid_places_path(@hybrid) %></h4>
<h4><%= link_to "Hybrid's Motorhomes", hybrid_motorhomes_path(@hybrid) %></h4>
<h4><%= link_to "Minimarts Hybrid Has Been To", hybrid_minimarts_path(@hybrid) %></h4>


<% if current_user == @hybrid.user %>
 <h3> Submit New Information </h3>
 <h4><%= link_to "Submit New Friend", new_hybrid_friend_path(@hybrid) %></h4>
 <h4><%= link_to "Submit New Place",  new_hybrid_place_path(@hybrid) %></h4>
 <h4><%= link_to "Submit New Motorhome", new_hybrid_motorhome_path(@hybrid) %></h4>
 <h3> Modify and Redact Information </h3>
 <h4><%= link_to "Modify the Hybrid", edit_hybrid_path(@hybrid) %></h4>
 <h4><%= link_to "Scrub Hybrid from Database", @hybrid, method: :delete %></h4>
<% end %>

<h1> Ram Hybrids </h1>
<% @hybrids.each do |hybrid| %>
<h3><%= link_to hybrid.name, hybrid_path(hybrid) %></h3>
<% end %>

<h1> Tree Hybrids </h1>
<% @trees.each do |tree| %>
<h3><%= link_to tree.name, hybrid_path(tree) %></h3>
<% end %>

<h1> Trout Hybrids </h1>
<% @trout.each do |trout| %>
<h3><%= link_to trout.name, hybrid_path(trout) %></h3>
<% end %>