<h1><%= @hybrid.name %></h1>
<img src="<%= @hybrid.image %>" alt="Hybrid Image">
<h2><%= @hybrid.species %></h2>
<p><%= @hybrid.personality %></p>
<p><%= @hybrid.biography %></p>
<%= link_to "Hybrid's Friends", hybrid_friends_path(@hybrid) %>

<% if current_user %>
 <%= link_to "Submit New Friend", new_hybrid_friend_path(@hybrid) %>
<% end %>