<h1><%= @hybrid.name %></h1>
<h2><%= @hybrid.species %></h2>
<img src="<%= @hybrid.image %>" alt="Hybrid Image">
<h2><%= @hybrid.personality %></h2>
<h3><%= @hybrid.biography %></h3>
<h4><%= link_to "Hybrid's Friends", hybrid_friends_path(@hybrid) %></h4>
<h4><%= link_to "Places Hybrid Has Been", hybrid_places_path(@hybrid) %></h4>

<% if current_user == @hybrid.user %>
 <h4><%= link_to "Submit New Friend", new_hybrid_friend_path(@hybrid) %></h4>
 <h4><%= link_to "Submit New Place",  new_hybrid_place_path(@hybrid) %></h4>
 <h4><%= link_to "Modify the Hybrid", edit_hybrid_path(@hybrid) %></h4>
 <h4><%= link_to "Scrub Hybrid from Database", @hybrid, method: :delete %></h4>
<% end %>