<h1>Modify Your Report</h1>

<%= form_for ([@place.hybrid, @place]) do |f| %>
<%= f.hidden_field :hybrid_id, value: @place.hybrid_id %>

<%= f.label :name, "Name" %><br>
<%= f.text_field :name %><br>

<%= f.label :location, "Location" %><br>
<%= f.text_field :location %><br>

<%= f.label :atmosphere, "Atmosphere" %><br>
<%= f.text_field :atmosphere %><br>

<%= f.label :image, "Image" %><br>
<%= f.text_field :image %><br>

<%= f.label :status, "Status" %><br>
<%= f.text_area :status %><br>


<%= f.submit %>

<% end %>
