<h1>Submit Your Report</h1>

<%= form_for(@place) do |f| %>
<label>Name of Place</label><br>
<%= f.text_field :name %><br>

<label>Location</label><br>
<%= f.text_field :location %><br>

<label>Atmosphere</label><br>
<%= f.text_field :atmosphere %><br>

<label>Status</label><br>
<%= f.text_area :status %><br>


<%= f.submit %>

<% end %>
