<h1><%= @place.name %></h1>
<h2><%= @place.location %></h2>
<img src="<%= @place.image %>" alt="Place Image">
<h3><%= @place.atmosphere %></h3>
 <h4><%= @place.status %></h4>

 <% if current_user == @place.hybrid.user %>
<%= link_to "Modify Place Information", edit_hybrid_place_path(@place.hybrid, @place)%>
<%= link_to "Scrub Place Information", hybrid_place_path(@place.hybrid, @place), method: "delete" %>
<% end %>