<h1><%= @place.name %></h1>
<h2><%= @place.location %></h2>
<img src="<%= @place.image %>" alt="Place Image">
<h3><%= @place.atmosphere %></h3>
 <h4><%= @place.status %></h4>

 
<%= link_to "Modify Place Information", edit_place_path( @place)%>
<%= link_to "Scrub Place Information", place_path(@place), method: "delete" %>
<% @place.hybrids.each do |hybrid| %>
<h4><%= link_to hybrid.name, hybrid_path(hybrid) %></h4>
<% end %>