<!DOCTYPE html>
<html>
  <head>
    <title>IncubatorsLabb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1> Antibi Headquarters </h1>
  <h3><%= link_to "Submit a New Hybrid", new_hybrid_path %></h3>
  <h3><%= link_to "Submit a New Place", new_place_path %></h3>
  <h3><%= link_to "Submit a New Minimart", new_minimart_path %></h3>
  <h3><%= link_to "Submit a New Skatepark", new_skatepark_path %></h3>
  <h3><%= link_to "Submit a New Robot", new_robot_path %></h3>
  <h3><%= link_to "Submit a New Industry Center", new_industry_center_path %></h3>
  <h3><%= link_to "Hybrid Data", hybrids_path %></h3>
  <h3><%= link_to "Place Data", places_path %></h3>
  <h3><%= link_to "Minimart Data", minimarts_path %></h3>
  <h3><%= link_to "Skatepark Data", skateparks_path %></h3>
  <h3><%= link_to "Robot Data", robots_path %></h3>
  <h3><%= link_to "Industry Center Data", industry_centers_path %></h3>
  <% if !current_user %>
  <h3><%= link_to "Login", login_path %></h3>
  <h3><%= link_to "Signup", signup_path %></h3>
  <h3><%= link_to "Log in with Google", "/auth/google_oauth2", method: :post %></h3>
  <% end %>
  <% if current_user %>
  <h3><%= link_to "Logout", logout_path %></h3>
  <% end %>
  <h3><%= link_to "Home Page", root_path %></h3>
  
 
    <%= yield %>
  </body>
</html>
